<div class="row">
  <div class="col-md-6 col-xs-12">
    <img src="{{ selectproduct.image }}" style="margin-top: 45px" width="100%" height="auto" alt="Error">
    <h4> Dish's Name: {{ selectproduct.name }}
      <em> (illustration)</em>
    </h4>
  </div>
  <div class="col-md-6 row col-xs-12 details">
    <h4 class="col-md-12"> Dish's Detail </h4>
    <ul class="col-md-12 row detail">
      <li class="col-md-4 first"> Name: </li>
      <li class="col-md-8 first"> {{ selectproduct.name }} </li>
      <li class="col-md-4"> Price: </li>
      <li class="col-md-8"> {{ selectproduct.price }}($) </li>
      <li class="col-md-4"> Ingredients: </li>
      <li class="col-md-8"> {{ selectproduct.detail.ingredient }}</li>
      <li class="col-md-4"> Original: </li>
      <li class="col-md-8"> {{ selectproduct.detail.original }} </li>
      <li class="col-md-4"> Nutrition: </li>
      <li class="col-md-8"> {{ selectproduct.detail.nutrition }} </li>
      <li class="col-md-4"> Time To Wait </li>
      <li class="col-md-8"> {{ selectproduct.detail.timewait }} </li>
      <li class="col-md-4"> Chief's Name: </li>
      <li class="col-md-8"> {{ selectproduct.detail.chief }} </li>
    </ul>
    <div class="col-md-12">
      <button class="btn btn-success"> Add To Cart</button>
      <button class="btn btn-primary" routerLink="edit"> Edit Product </button>
      <button class="btn btn-danger" (click)="BackHome()"> Back </button>
      
    </div>
  </div>
</div>