
<div class="row">
    <Product-Item class="col-md-4" *ngFor="let productitem of Listtest; let i = index" [pro]="productitem" [pos]="i"></Product-Item>
    
</div>
<div class="row">
    <nav aria-label="Page navigation  edit-pag" class="col-md-12 pag">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" (click)="OnPre()">Previous</a>
            </li>
            <li class="page-item" *ngFor="let pagenum of ArrayPage ; let i = positem">
                <a class="page-link" [routerLink]="['../../page',pagenum]"> {{ pagenum }} </a>
            </li>

            <li class="page-item">
                <a class="page-link" (click)="OnNext()">Next</a>
            </li>
        </ul>
    </nav>
</div>